---
preheader: "Pre-header for the newsletter template"
title: "Abacus Blog - a template from EmailOctopus"
googleFonts: Work+Sans:300,400,500,600,700|Quicksand:300,400,700
wrapperClass: font-work-sans
---

<extends src="src/layouts/main.html">
  <block name="template">
    <!-- header -->
    <table class="w-full bg-white">
      <tr>
        <td align="center" class="px-20">
          <table class="w-590 sm:w-full">
            <tr>
              <td class="leading-25">&zwnj;</td>
            </tr>
            <tr>
              <td class="text-center">
                <a href="https://emailoctopus.com">
                  <img src="http://i.imgur.com/xMvmezL.png" width="118" alt="Abacus">
                </a>
              </td>
            </tr>
            <tr>
              <td class="leading-32">&zwnj;</td>
            </tr>
            <tr>
              <td align="center">
                <table class="w-8/12 sm:w-full">
                  <tr>
                    <td class="w-1/3 text-center">
                      <a href="https://emailoctopus.com" class="text-sm text-gray-700 no-underline">MEN</a>
                    </td>
                    <td class="w-1/3 text-center">
                      <a href="https://emailoctopus.com" class="text-sm text-gray-700 no-underline">WOMEN</a>
                    </td>
                    <td class="w-1/3 text-center">
                      <a href="https://emailoctopus.com" class="text-sm text-gray-700 no-underline">BLOG</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="leading-25">&zwnj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- end header -->

    <!-- big image section -->
    <table class="w-full bg-white">
      <tr>
        <td align="center" class="px-20">
          <table class="w-590 sm:w-full">
            <tr>
              <td class="text-center">
                <a href="https://emailoctopus.com">
                  <img src="http://i.imgur.com/Cepy1eK.jpg" width="590" alt="New in November">
                </a>
              </td>
            </tr>
            <tr>
              <td class="leading-20">&zwnj;</td>
            </tr>
            <tr>
              <td class="px-96 sm:px-0 text-center">
                <h1 class="m-0 text-2xl leading-32 tracking-3 font-quicksand text-black">NEW IN <span class="text-blue-400">NOVEMBER</span></h1>
                <div class="leading-10">&zwnj;</div>
                <hr class="border-0 bg-gray-200 text-gray-200 h-2 w-40">
                <div class="leading-10">&zwnj;</div>
                <p class="m-0 text-base leading-24 text-gray-500">
                  Winter is coming. Shop our latest AW16 range, and prepare for the damp, cold, British weather.
                </p>
                <div class="leading-25">&zwnj;</div>
                <a
                  href="https://emailoctopus.com/"
                  class="inline-block py-16 px-40 text-sm leading-none no-underline text-white font-semibold bg-blue-500 hover:bg-blue-600">
                  <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%; mso-text-raise: 26pt;">&nbsp;</i><![endif]-->
                  <span style="mso-text-raise: 13pt;">SHOP NOW</span>
                  <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
                </a>
                <div class="leading-25">&zwnj;</div>
              </td>
            </tr>
            <tr>
              <td class="leading-40">&zwnj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- end section -->

    <!--  50% image -->
    <table class="w-full bg-white">
      <tr>
        <td align="center" class="px-20">
          <table class="w-590 sm:w-full">
            <tr>
              <td class="w-1/2 sm:w-full sm:block sm:text-center">
                <a href="https://emailoctopus.com">
                  <img src="http://i.imgur.com/GCeWTcq.jpg" width="280" alt="Blog post one image">
                </a>
              </td>
              <td class="w-1/2 sm:w-full sm:block align-top">
                <table>
                  <tr>
                    <td class="pl-36 sm:px-36 sm:pt-20 sm:text-center">
                      <h2 class="m-0 text-22px leading-36 tracking-3 font-quicksand uppercase text-gray-800">Blog post one</h2>
                      <div class="leading-10">&zwnj;</div>
                      <hr align="left" class="border-0 bg-gray-200 text-gray-200 h-2 w-40 sm:mx-auto">
                      <div class="leading-10">&zwnj;</div>
                      <p class="m-0 text-base leading-24 text-gray-500">
                        Lorem ipsum dolor sit amet coni petur adipiscing elit. Praesent at lacus faucibus orcil viverra.
                      </p>
                      <div class="leading-25">&zwnj;</div>
                      <a
                        href="https://emailoctopus.com/"
                        class="inline-block py-8 px-20 border border-solid border-gray-200 hover:border-gray-300 text-sm leading-none no-underline text-blue-500 bg-white">
                        <!--[if mso]><i style="letter-spacing: 13px; mso-font-width: -100%; mso-text-raise: 8pt;">&nbsp;</i><![endif]-->
                        <span style="mso-text-raise: 4pt;">READ MORE</span>
                        <!--[if mso]><i style="letter-spacing: 13px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="leading-40">&zwnj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- end section -->

    <!--  50% image -->
    <table class="w-full bg-white">
      <tr>
        <td align="center" class="px-20">
          <table class="w-590 sm:w-full">
            <tr>
              <td class="w-1/2 sm:w-full sm:block sm:text-center">
                <a href="https://emailoctopus.com">
                  <img src="http://i.imgur.com/GCeWTcq.jpg" width="280" alt="Blog post one image">
                </a>
              </td>
              <td class="w-1/2 sm:w-full sm:block sm:text-center align-top">
                <table>
                  <tr>
                    <td class="pl-36 sm:px-36 sm:pt-20 sm:text-center">
                      <h2 class="m-0 text-22px leading-36 tracking-3 font-quicksand uppercase text-gray-800">Blog post two</h2>
                      <div class="leading-10">&zwnj;</div>
                      <hr align="left" class="border-0 bg-gray-200 text-gray-200 h-2 w-40 sm:mx-auto">
                      <div class="leading-10">&zwnj;</div>
                      <p class="m-0 text-base leading-24 text-gray-500">
                        Lorem ipsum dolor sit amet coni petur adipiscing elit. Praesent at lacus faucibus orcil viverra.
                      </p>
                      <div class="leading-25">&zwnj;</div>
                      <a
                        href="https://emailoctopus.com/"
                        class="inline-block py-8 px-20 border border-solid border-gray-200 hover:border-gray-300 text-sm leading-none no-underline text-blue-500 bg-white">
                        <!--[if mso]><i style="letter-spacing: 13px; mso-font-width: -100%; mso-text-raise: 8pt;">&nbsp;</i><![endif]-->
                        <span style="mso-text-raise: 4pt;">READ MORE</span>
                        <!--[if mso]><i style="letter-spacing: 13px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="leading-40">&zwnj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- end section -->

    <!-- Invite friends -->
    <table class="w-full bg-white">
      <tr>
        <td align="center" class="px-20">
          <table class="w-590 sm:w-full">
            <tr>
              <td align="center">
                <table>
                  <tr>
                    <td class="bg-gray-900 py-4 px-16">
                      <h3 class="m-0 text-base leading-32 font-quicksand text-white">INVITE YOUR FRIENDS</h3>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table class="w-full border-3 border-solid border-gray-900">
                  <tr>
                    <td class="leading-48">&zwnj;</td>
                  </tr>
                  <tr>
                    <td class="px-48 sm:px-24 text-center">
                      <p class="m-0 text-lg leading-32 text-gray-800">
                        Invite your friends to Abacus and save up to <span class="text-blue-400">£100</span> off your next order!
                      </p>
                      <div class="leading-15">&zwnj;</div>
                      <a
                        href="https://emailoctopus.com/"
                        class="inline-block py-16 px-24 text-sm leading-none no-underline text-white font-semibold bg-blue-500 hover:bg-blue-600">
                        <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%; mso-text-raise: 26pt;">&nbsp;</i><![endif]-->
                        <span style="mso-text-raise: 13pt;">REFER FRIENDS</span>
                        <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="leading-48">&zwnj;</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="leading-48">&zwnj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- end section ====== -->

    <!--  50% image -->
    <table class="w-full bg-white">
      <tr>
        <td align="center" class="px-20">
          <table class="w-590 sm:w-full">
            <tr>
              <td class="w-1/2 sm:w-full sm:block sm:text-center">
                <a href="https://emailoctopus.com">
                  <img src="http://i.imgur.com/GCeWTcq.jpg" width="280" alt="Blog post one image">
                </a>
              </td>
              <td class="w-1/2 sm:w-full sm:block sm:text-center align-top">
                <table>
                  <tr>
                    <td class="pl-36 sm:px-36 sm:pt-20 sm:p-0 sm:text-center">
                      <h2 class="m-0 text-22px leading-36 tracking-3 font-quicksand uppercase text-gray-800">Blog post three</h2>
                      <div class="leading-10">&zwnj;</div>
                      <hr align="left" class="border-0 bg-gray-200 text-gray-200 h-2 w-40 sm:mx-auto">
                      <div class="leading-10">&zwnj;</div>
                      <p class="m-0 text-base leading-24 text-gray-500">
                        Lorem ipsum dolor sit amet coni petur adipiscing elit. Praesent at lacus faucibus orcil viverra.
                      </p>
                      <div class="leading-25">&zwnj;</div>
                      <a
                        href="https://emailoctopus.com/"
                        class="inline-block py-8 px-20 border border-solid border-gray-200 hover:border-gray-300 text-sm leading-none no-underline text-blue-500 bg-white">
                        <!--[if mso]><i style="letter-spacing: 13px; mso-font-width: -100%; mso-text-raise: 8pt;">&nbsp;</i><![endif]-->
                        <span style="mso-text-raise: 4pt;">READ MORE</span>
                        <!--[if mso]><i style="letter-spacing: 13px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="leading-40">&zwnj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- end section -->

    <!-- 2 Column Blog Layout-->
    <table class="w-full bg-white">
      <tr>
        <td align="center" class="px-20">
          <table class="w-590 sm:w-full">
            <tr>
              <td class="px-64 sm:px-0 text-center">
                <h1 class="m-0 text-2xl sm:text-xl leading-32 tracking-3 font-quicksand text-black">RECOMMENDED <span class="text-blue-400">FOR YOU</span></h1>
                <div class="leading-10">&zwnj;</div>
                <hr class="border-0 bg-gray-200 text-gray-200 h-2 w-40">
                <div class="leading-10">&zwnj;</div>
                <p class="m-0 text-base leading-24 text-gray-500">
                  Our stylists have picked these unique pieces, just for you.
                </p>
                <div class="leading-20">&zwnj;</div>
              </td>
            </tr>
            <tr>
              <td>
                <table class="w-full font-quicksand">
                  <tr>
                    <td class="w-1/2 sm:w-full sm:block sm:text-center align-top">
                      <table class="w-full">
                        <tr>
                          <td class="pr-35 sm:pr-0 sm:pb-40">
                            <a href="https://emailoctopus.com">
                              <img src="https://dummyimage.com/260x350/000/fff" width="260" alt="The T-Shirt">
                            </a>
                            <div class="leading-15">&zwnj;</div>
                            <h3 class="m-0 text-base leading-24 font-semibold text-center uppercase">The T-Shirt</h3>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td class="w-1/2 sm:w-full sm:block sm:text-center align-top">
                      <table class="w-full">
                        <tr>
                          <td class="pl-35 sm:p-0">
                            <a href="https://emailoctopus.com">
                              <img src="https://dummyimage.com/260x350/000/fff" width="260" alt="The Dress">
                            </a>
                            <div class="leading-15">&zwnj;</div>
                            <h3 class="m-0 text-base leading-24 font-semibold text-center uppercase">The Dress</h3>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="leading-40">&zwnj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- end section -->

    <!-- contact section -->
    <table class="w-full bg-white">
      <tr>
        <td class="leading-5 bg-black">&zwnj;</td>
      </tr>
      <tr>
        <td class="leading-48">&zwnj;</td>
      </tr>
      <tr>
        <td align="center" class="px-20">
          <table class="w-590 sm:w-full">
            <tr>
              <td class="w-8/12 sm:w-full sm:block sm:text-left sm:pb-24">
                <a href="https://emailoctopus.com">
                  <img src="http://i.imgur.com/xMvmezL.png" width="100" alt="Abacus">
                </a>
                <div class="leading-25">&zwnj;</div>
                <p class="m-0 text-sm leading-24 text-gray-900 font-semibold">Email us:</p>
                <a href="mailto:hello@emailoctopus.com" class="text-sm text-gray-500 underline hover:no-underline">contact@emailoctopus.com</a>
              </td>
              <td align="right" class="w-4/12 sm:w-full sm:block sm:text-left">
                <table>
                  <tr>
                    <td class="pr-16">
                      <a href="https://twitter.com/emailoctopusco">
                        <img src="http://i.imgur.com/Qc3zTxn.png" width="24">
                      </a>
                    </td>
                    <td class="pr-16">
                      <a href="https://facebook.com/emailoctopus">
                        <img src="http://i.imgur.com/RBRORq1.png" width="24">
                      </a>
                    </td>
                    <td class="">
                      <a href="https://emailoctopus.com">
                        <img src="http://i.imgur.com/Wji3af6.png" width="24">
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="leading-48">&zwnj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- end section -->

    <!-- footer ====== -->
    <table class="w-full bg-white">
      <tr>
        <td align="center" class="px-20 bg-gray-100">
          <table class="w-590 sm:w-full">
            <tr>
              <td class="leading-25">&zwnj;</td>
            </tr>
            <tr>
              <td class="w-8/12 sm:w-full sm:block sm:pb-20">
                <p class="m-0 text-sm leading-20 text-gray-600">
                  Abacus, an email template created by <a href="https://emailoctopus.com" class="text-gray-800 no-underline hover:underline">EmailOctopus</a>,
                  rebuilt with <a href="https://tailwindcss.com" class="text-gray-800 no-underline hover:underline">Tailwind CSS</a> in <a href="https://maizzle.com" class="text-gray-800 no-underline hover:underline">Maizzle</a>.
                </p>
              </td>
              <td class="w-4/12 sm:w-full sm:block text-right sm:text-left">
                <a href="@{{UnsubscribeURL}}" class="text-sm leading-24 font-bold no-underline text-blue-400 hover:text-blue-500">UNSUBSCRIBE</a>
              </td>
            </tr>
            <tr>
              <td class="leading-25">&zwnj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- end footer ====== -->
  </block>
</extends>
