---
preheader: "Welcome to Abacus!"
title: "Abacus Transactional - a template from EmailOctopus"
googleFonts: "family=Quicksand:wght@300;400;700&family=Work+Sans:wght@300;400;500;600;700"
wrapperClass: font-work-sans
---

<extends src="src/layouts/main.html">
  <block name="template">
    <!-- ======= header ======= -->
    <table class="w-full bg-white">
      <tr>
        <td align="center" class="px-5">
          <table class="w-[590px] sm:w-full">
            <tr>
              <td class="leading-[25px]">&zwnj;</td>
            </tr>
            <tr>
              <td class="text-center">
                <a href="https://emailoctopus.com">
                  <img src="http://i.imgur.com/xMvmezL.png" width="118" alt="Abacus">
                </a>
              </td>
            </tr>
            <tr>
              <td class="leading-8">&zwnj;</td>
            </tr>
            <tr>
              <td align="center">
                <table class="w-8/12 sm:w-full">
                  <tr>
                    <td class="w-1/3 text-center">
                      <a href="https://emailoctopus.com" class="text-sm text-gray-700 [text-decoration:none]">MEN</a>
                    </td>
                    <td class="w-1/3 text-center">
                      <a href="https://emailoctopus.com" class="text-sm text-gray-700 [text-decoration:none]">WOMEN</a>
                    </td>
                    <td class="w-1/3 text-center">
                      <a href="https://emailoctopus.com" class="text-sm text-gray-700 [text-decoration:none]">BLOG</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="leading-[25px]">&zwnj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- ======= end header ======= -->

    <!-- ======= big image section ======= -->
    <table class="w-full bg-white">
      <tr>
        <td align="center" class="px-5">
          <table class="w-[590px] sm:w-full">
            <tr>
              <td class="leading-5">&zwnj;</td>
            </tr>
            <tr>
              <td class="px-12 sm:px-0 text-center">
                <h1 class="m-0 text-2xl leading-8 tracking-[3px] font-quicksand text-black">Welcome to the future of <span class="text-blue-400">fashion</span></h1>
                <div class="leading-2.5">&zwnj;</div>
                <hr class="border-0 bg-gray-200 text-gray-200 h-0.5 w-10">
                <div class="leading-2.5">&zwnj;</div>
                <p class="m-0 text-base leading-6 text-left text-gray-500">
                  Firstname,
                  <br><br>
                  Great news, you will now be the first to see exclusive previews of our latest collections, hear about news from the Abacus! community and get the most up to date news in the world of fashion.
                  <br><br>
                  You can access your account at any point using the link below.
                </p>
                <div class="leading-[25px]">&zwnj;</div>
                <a
                  href="https://emailoctopus.com/"
                  class="inline-block py-4 px-10 text-sm leading-none [text-decoration:none] text-white font-semibold bg-blue-500 hover:bg-blue-600">
                  <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%; mso-text-raise: 26pt;">&nbsp;</i><![endif]-->
                  <span style="mso-text-raise: 14pt;">MY ACCOUNT</span>
                  <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
                </a>
                <div class="leading-[35px]">&zwnj;</div>
                <p class="m-0 text-base leading-6 text-left text-gray-500">
                  Love,
                  <br>
                  The Abacus! team
                </p>
              </td>
            </tr>
            <tr>
              <td class="leading-10">&zwnj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- ======= end section ======= -->

    <!-- ======= background image ======= -->
    <table class="w-full">
      <tr>
        <td align="center" class="px-5 bg-image-aw16 bg-cover bg-no-repeat">
          <table class="w-[590px] sm:w-full">
            <tr>
              <td>
                <component
                  src="src/components/v-image.html"
                  width="590px"
                  height="250px"
                  image="https://i.imgur.com/qZTfs49.jpg"
                >
                  <table class="w-full">
                    <tr>
                      <td class="text-center">
                        <div class="leading-12">&zwnj;</div>
                        <p class="m-0 text-base leading-6 tracking-0.5 text-white">
                          The all new AW16 range is out. View an exclusive preview.
                        </p>
                        <div class="leading-[35px]">&zwnj;</div>
                        <a
                          href="https://emailoctopus.com"
                          class="inline-block py-4 px-6.5 text-sm leading-none [text-decoration:none] border border-solid border-gray-200 text-gray-200 hover:bg-gray-200 hover:text-blue-500 font-semibold">
                          <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%; mso-text-raise: 26pt;">&nbsp;</i><![endif]-->
                          <span style="mso-text-raise: 8pt;">VIEW THE COLLECTION</span>
                          <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
                        </a>
                        <div class="leading-12">&zwnj;</div>
                      </td>
                    </tr>
                  </table>
                </component>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- ======= end background image ======= -->

    <!-- ======= contact ======= -->
    <table class="w-full bg-white">
      <tr>
        <td class="leading-12">&zwnj;</td>
      </tr>
      <tr>
        <td align="center" class="px-5">
          <table class="w-[590px] sm:w-full">
            <tr>
              <td class="w-8/12 sm:w-full sm:block sm:text-left sm:pb-6">
                <a href="https://emailoctopus.com">
                  <img src="http://i.imgur.com/xMvmezL.png" width="100" alt="Abacus">
                </a>
                <div class="leading-[25px]">&zwnj;</div>
                <p class="m-0 text-sm leading-6 text-gray-900 font-semibold">Email us:</p>
                <a href="mailto:hello@emailoctopus.com" class="text-sm text-gray-500 [text-decoration:underline] hover:[text-decoration:none]">contact@emailoctopus.com</a>
              </td>
              <td align="right" class="w-4/12 sm:w-full sm:block sm:text-left">
                <table>
                  <tr>
                    <td class="pr-4">
                      <a href="https://twitter.com/emailoctopusco">
                        <img src="http://i.imgur.com/Qc3zTxn.png" width="24">
                      </a>
                    </td>
                    <td class="pr-4">
                      <a href="https://facebook.com/emailoctopus">
                        <img src="http://i.imgur.com/RBRORq1.png" width="24">
                      </a>
                    </td>
                    <td>
                      <a href="https://emailoctopus.com">
                        <img src="http://i.imgur.com/Wji3af6.png" width="24">
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="leading-12">&zwnj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- end contact -->

    <!-- ======= footer ======= -->
    <table class="w-full bg-white">
      <tr>
        <td align="center" class="px-5 bg-gray-100">
          <table class="w-[590px] sm:w-full">
            <tr>
              <td class="leading-[25px]">&zwnj;</td>
            </tr>
            <tr>
              <td class="w-8/12 sm:w-full sm:block sm:pb-5">
                <p class="m-0 text-sm leading-5 text-gray-600">
                  Abacus, an email template created by <a href="https://emailoctopus.com" class="text-gray-800 [text-decoration:none] hover:[text-decoration:underline]">EmailOctopus</a>,
                  rebuilt with <a href="https://tailwindcss.com" class="text-gray-800 [text-decoration:none] hover:[text-decoration:underline]">Tailwind CSS</a> in <a href="https://maizzle.com" class="text-gray-800 [text-decoration:none] hover:[text-decoration:underline]">Maizzle</a>.
                </p>
              </td>
              <td class="w-4/12 sm:w-full sm:block text-right sm:text-left">
                <a href="@{{UnsubscribeURL}}" class="text-sm leading-6 font-bold [text-decoration:none] text-blue-400 hover:text-blue-500">UNSUBSCRIBE</a>
              </td>
            </tr>
            <tr>
              <td class="leading-[25px]">&zwnj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- ======= end footer ======= -->
  </block>
</extends>
