---
title: "Wayfair Newsletter - a template from EmailOctopus"
googleFonts: "family=Lato"
wrapperClass: font-serif
---

<extends src="src/layouts/main.html">
  <block name="template">
    <!-- ======= Preheader ======= -->
    <table class="w-full bg-beige">
      <tr>
        <td align="center">
          <table class="w-[700px] md:w-full">
            <tr>
              <td class="bg-gray-100 text-center py-2 md:px-5">
                <p class="m-0 text-xs leading-6 text-gray-700">A newsletter template from EmailOctopus</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- ======= Preheader End ======= -->

    <!-- ======= Header ======= -->
    <table class="w-full bg-beige">
      <tr>
        <td align="center">
          <table class="w-[700px] md:w-full">
            <tr>
              <td class="px-7.5 bg-white">
                <div class="leading-10">&zwnj;</div>
                <table class="w-full">
                  <tr>
                    <td class="w-1/2 md:w-full md:block md:text-center md:pb-8">
                      <a href="https://emailoctopus.com">
                        <img src="http://i.imgur.com/EPSxcky.jpg" width="286" alt="Wayfair">
                      </a>
                    </td>
                    <td align="right" class="w-1/2 md:w-full md:block align-middle">
                      <table class="md:mx-auto">
                        <tr>
                          <td class="pr-5">
                            <a href="https://emailoctopus.com" class="text-sm leading-6 text-gray-600 [text-decoration:none]">Home</a>
                          </td>
                          <td class="pr-5">
                            <a href="https://emailoctopus.com" class="text-sm leading-6 text-gray-600 [text-decoration:none]">Travel</a>
                          </td>
                          <td class="pr-5">
                            <a href="https://emailoctopus.com" class="text-sm leading-6 text-gray-600 [text-decoration:none]">Fashion</a>
                          </td>
                          <td>
                            <a href="https://emailoctopus.com" class="text-sm leading-6 text-gray-600 [text-decoration:none]">Interiors</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <div class="leading-10">&zwnj;</div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- ======= Header End ======= -->

    <!-- ======= Hero Image ======= -->
    <table class="w-full bg-beige">
      <tr>
        <td align="center">
          <table class="w-[700px] md:w-full">
            <tr>
              <td class="bg-gray-800 bg-hero-wayfair bg-cover bg-center bg-no-repeat md:px-5">
                <component
                  src="src/components/v-image.html"
                  width="700px"
                  height="210px"
                  image="https://i.imgur.com/Xd0Ul3R.jpg"
                >
                  <div class="leading-12">&zwnj;</div>
                  <table align="center" class="w-[640px] md:w-full">
                    <tr>
                      <td class="w-3/12">
                        <hr class="border-0 bg-gray-100 text-gray-100 h-0.5">
                      </td>
                      <td class="w-4/12">
                        <p class="m-0 text-sm text-center text-gray-50">Issue 200 - August 2015</p>
                      </td>
                      <td class="w-3/12">
                        <hr class="border-0 bg-gray-100 text-gray-100 h-0.5">
                      </td>
                    </tr>
                  </table>
                  <div class="leading-10">&zwnj;</div>
                  <h1 class="m-0 text-2xl leading-10 font-lato text-center text-gray-50">
                    ALL THOSE WHO WANDER ARE NOT LOST
                  </h1>
                  <div class="leading-12">&zwnj;</div>
                </component>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- ======= Hero Image End ======= -->

    <!-- ======= Spacer ======= -->
    <table class="w-full bg-beige">
      <tr>
        <td align="center">
          <table class="w-[700px] md:w-full">
            <tr>
              <td class="bg-white leading-7.5">&zwnj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- ======= Spacer End ======= -->

    <!-- ======= Promotional Blog ======= -->
    <table class="w-full bg-beige">
      <tr>
        <td align="center">
          <table class="w-[700px] md:w-full">
            <tr>
              <td class="bg-white px-7.5">
                <table class="w-full">
                  <tr>
                    <td class="w-7/12 md:w-full md:block md:p-0 md:text-center">
                      <a href="https://emailoctopus.com">
                        <img src="https://i.imgur.com/Tl2ZScl.jpg" width="374" alt="Visit Australia">
                      </a>
                    </td>
                    <td class="w-5/12 md:w-full md:block md:p-0 md:text-center bg-gray-100 align-top">
                      <table class="w-full">
                        <tr>
                          <td class="py-7.5 px-5 text-gray-700 text-center">
                            <span class="text-sm leading-6">Travel</span>
                            <h2 class="m-0 text-2xl leading-9 font-lato font-light">VISIT AUSTRALIA</h2>
                            <div class="leading-2.5">&zwnj;</div>
                            <p class="m-0 text-sm md:text-base leading-5 md:leading-6 text-gray-600">
                              From unforgettable wildlife encounters and tropical rainforest to iconic cities and adventurous outback expeditions.
                            </p>
                            <div class="leading-[15px]">&zwnj;</div>
                            <a
                              href="https://emailoctopus.com/"
                              class="inline-block py-3.5 px-6 text-sm leading-none [text-decoration:none] border border-solid border-gray-700 hover:border-gray-400 text-gray-700 font-semibold">
                              <!--[if mso]><i style="letter-spacing: 16px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
                              <span>VISIT NOW</span>
                              <!--[if mso]><i style="letter-spacing: 16px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- ======= Promotional Blog End ======= -->

    <!-- ======= Spacer ======= -->
    <table class="w-full bg-beige">
      <tr>
        <td align="center">
          <table class="w-[700px] md:w-full">
            <tr>
              <td class="bg-white leading-7.5">&zwnj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- ======= Spacer End ======= -->

    <!-- ======= Promotional Blog ======= -->
    <table class="w-full bg-beige">
      <tr>
        <td align="center">
          <table class="w-[700px] md:w-full">
            <tr>
              <td class="bg-white px-7.5">
                <table class="w-full">
                  <tr>
                    <td class="w-7/12 md:w-full md:block md:p-0 md:text-center">
                      <a href="https://emailoctopus.com">
                        <img src="https://i.imgur.com/k2YlN1K.jpg" width="374" alt="Sit and relax">
                      </a>
                    </td>
                    <td class="w-5/12 md:w-full md:block md:p-0 md:text-center bg-yellow-50 align-top">
                      <table class="w-full">
                        <tr>
                          <td class="py-7.5 px-5 text-gray-700 text-center">
                            <span class="text-sm leading-6">Interiors</span>
                            <h2 class="m-0 text-2xl leading-9 font-lato font-light">SIT AND RELAX</h2>
                            <div class="leading-2.5">&zwnj;</div>
                            <p class="m-0 text-sm md:text-base leading-5 md:leading-6 text-gray-600">
                              From unforgettable wildlife encounters and tropical rainforest to iconic cities and adventurous outback expeditions.
                            </p>
                            <div class="leading-[15px]">&zwnj;</div>
                            <a
                              href="https://emailoctopus.com/"
                              class="inline-block py-3.5 px-6 text-sm leading-none [text-decoration:none] border border-solid border-gray-700 hover:border-gray-400 text-gray-700 font-semibold">
                              <!--[if mso]><i style="letter-spacing: 16px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
                              <span>SHOP NOW</span>
                              <!--[if mso]><i style="letter-spacing: 16px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- ======= Promotional Blog End ======= -->

    <!-- ======= Title ======= -->
    <table class="w-full bg-beige">
      <tr>
        <td align="center">
          <table class="w-[700px] md:w-full">
            <tr>
              <td class="bg-white text-center py-8 md:px-5">
                <div class="leading-12">&zwnj;</div>
                <h3 class="m-0 text-2xl leading-9 font-lato text-gray-700">DRESS TO IMPRESS.</h3>
                <div class="leading-12">&zwnj;</div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- ======= Title End ======= -->

    <!-- ======= Double Column Blog Post ======= -->
    <table class="w-full bg-beige">
      <tr>
        <td align="center">
          <table class="w-[700px] md:w-full">
            <tr>
              <td class="bg-white px-[15px]">
                <table class="w-full">
                  <tr>
                    <td class="w-1/2 md:w-full md:block px-[15px] md:p-0 md:pb-12 md:text-center align-top">
                      <table align="center" class="w-full md:w-auto md:mx-auto">
                        <tr>
                          <td class="border border-solid border-gray-300">
                            <table class="w-full">
                              <tr>
                                <td>
                                  <a href="https://emailoctopus.com">
                                    <img src="https://i.imgur.com/EfDYgTF.jpg" width="305" alt="VIRGO JUMPER">
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td class="p-2.5 text-center">
                                  <div class="leading-5">&zwnj;</div>
                                  <h3 class="m-0 mb-10 leading-6 font-lato font-medium">
                                    <a href="https://emailoctopus.com" class="text-lg text-gray-900 [text-decoration:none]">VIRGO JUMPER</a>
                                  </h3>
                                  <hr class="border-0 bg-gray-200 text-gray-200 h-px">
                                  <div class="leading-2.5">&zwnj;</div>
                                  <p class="m-0 text-sm md:text-base leading-5 md:leading-6 text-gray-500">
                                    Spun pure wool to a fine knit design, the soft Virgo jumper is the kind of piece that translates effortlessly from now through to summer.
                                  </p>
                                  <div class="leading-[15px]">&zwnj;</div>
                                </td>
                              </tr>
                              <tr>
                                <td class="font-lato">
                                  <a
                                    href="https://emailoctopus.com/"
                                    class="block py-3.5 px-6 text-sm text-center leading-none [text-decoration:none] text-gray-700 bg-red-200 hover:bg-red-300 font-medium">
                                    <!--[if mso]><i style="letter-spacing: 111px; mso-font-width: -100%; mso-text-raise: 26pt;">&nbsp;</i><![endif]-->
                                    <span style="mso-text-raise: 13pt;">SHOP NOW</span>
                                    <!--[if mso]><i style="letter-spacing: 112px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
                                  </a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td class="w-1/2 md:w-full md:block px-[15px] md:p-0 md:text-center align-top">
                      <table align="center" class="w-full md:w-auto md:mx-auto">
                        <tr>
                          <td class="border border-solid border-gray-300">
                            <table class="w-full">
                              <tr>
                                <td>
                                  <a href="https://emailoctopus.com">
                                    <img src="https://i.imgur.com/L3mI50D.jpg" width="305" alt="JADA JACKET">
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td class="p-2.5 text-center">
                                  <div class="leading-5">&zwnj;</div>
                                  <h3 class="m-0 mb-10 leading-6 font-lato font-medium">
                                    <a href="https://emailoctopus.com" class="text-lg text-gray-900 [text-decoration:none]">JADA JACKET</a>
                                  </h3>
                                  <hr class="border-0 bg-gray-200 text-gray-200 h-px">
                                  <div class="leading-2.5">&zwnj;</div>
                                  <p class="m-0 text-sm md:text-base leading-5 md:leading-6 text-gray-500">
                                    The blue and white checked Jada blazer will lend simple looks a Parisian insouciance. It's tailored to a structured silhouette for a feminine style.
                                  </p>
                                  <div class="leading-[15px]">&zwnj;</div>
                                </td>
                              </tr>
                              <tr>
                                <td class="font-lato">
                                  <a
                                    href="https://emailoctopus.com/"
                                    class="block py-3.5 px-6 text-sm text-center leading-none [text-decoration:none] text-gray-700 bg-red-200 hover:bg-red-300 font-medium">
                                    <!--[if mso]><i style="letter-spacing: 111px; mso-font-width: -100%; mso-text-raise: 26pt;">&nbsp;</i><![endif]-->
                                    <span style="mso-text-raise: 13pt;">SHOP NOW</span>
                                    <!--[if mso]><i style="letter-spacing: 112px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
                                  </a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <div class="leading-14">&zwnj;</div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- ======= Double Column Blog Post End ======= -->

    <!-- ======= Triple Column Blog Post ======= -->
    <table class="w-full bg-beige">
      <tr>
        <td align="center">
          <table class="w-[700px] md:w-full">
            <tr>
              <td class="bg-white px-[15px]">
                <table class="w-full">
                  <tr>
                    <td class="w-1/3 md:w-full md:block px-[15px] md:px-0 md:pb-30 md:text-center align-top">
                      <table align="center" class="w-full md:w-auto md:mx-auto">
                        <tr>
                          <td class="border border-solid border-gray-300">
                            <table class="w-full">
                              <tr>
                                <td>
                                  <a href="https://emailoctopus.com">
                                    <img src="https://i.imgur.com/bucFsB3.jpg" width="193" alt="CHARLES CHAIR">
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td class="p-2.5 text-center">
                                  <h3 class="m-0 mb-2.5 leading-6 font-lato font-medium">
                                    <a href="https://emailoctopus.com" class="text-base text-gray-900 [text-decoration:none]">CHARLES CHAIR</a>
                                  </h3>
                                  <hr class="border-0 bg-gray-200 text-gray-200 h-px">
                                </td>
                              </tr>
                              <tr>
                                <td class="font-lato">
                                  <a
                                    href="https://emailoctopus.com/"
                                    class="block py-3.5 px-6 text-sm text-center leading-none [text-decoration:none] text-gray-700 bg-red-200 hover:bg-red-300 font-medium">
                                    <!--[if mso]><i style="letter-spacing: 55px; mso-font-width: -100%; mso-text-raise: 26pt;">&nbsp;</i><![endif]-->
                                    <span style="mso-text-raise: 13pt;">SHOP NOW</span>
                                    <!--[if mso]><i style="letter-spacing: 56px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
                                  </a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td class="w-1/3 md:w-full md:block px-[15px] md:px-0 md:pb-30 md:text-center align-top">
                      <table align="center" class="w-full md:w-auto md:mx-auto">
                        <tr>
                          <td class="border border-solid border-gray-300">
                            <table class="w-full">
                              <tr>
                                <td>
                                  <a href="https://emailoctopus.com">
                                    <img src="https://i.imgur.com/aRDdGzM.jpg" width="193" alt="COPPER WIRE LAMP">
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td class="p-2.5 text-center">
                                  <h3 class="m-0 mb-2.5 leading-6 font-lato font-medium">
                                    <a href="https://emailoctopus.com" class="text-base text-gray-900 [text-decoration:none]">COPPER WIRE LAMP</a>
                                  </h3>
                                  <hr class="border-0 bg-gray-200 text-gray-200 h-px">
                                </td>
                              </tr>
                              <tr>
                                <td class="font-lato">
                                  <a
                                    href="https://emailoctopus.com/"
                                    class="block py-3.5 px-6 text-sm text-center leading-none [text-decoration:none] text-gray-700 bg-red-200 hover:bg-red-300 font-medium">
                                    <!--[if mso]><i style="letter-spacing: 55px; mso-font-width: -100%; mso-text-raise: 26pt;">&nbsp;</i><![endif]-->
                                    <span style="mso-text-raise: 13pt;">SHOP NOW</span>
                                    <!--[if mso]><i style="letter-spacing: 56px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
                                  </a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td class="w-1/3 md:w-full md:block px-[15px] md:px-0 md:text-center align-top">
                      <table align="center" class="w-full md:w-auto md:mx-auto">
                        <tr>
                          <td class="border border-solid border-gray-300">
                            <table class="w-full">
                              <tr>
                                <td>
                                  <a href="https://emailoctopus.com">
                                    <img src="https://i.imgur.com/QKapBNx.jpg" width="193" alt="FRANCOIS TABLE">
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td class="p-2.5 text-center">
                                  <h3 class="m-0 mb-2.5 leading-6 font-lato font-medium">
                                    <a href="https://emailoctopus.com" class="text-base text-gray-900 [text-decoration:none]">FRANCOIS TABLE</a>
                                  </h3>
                                  <hr class="border-0 bg-gray-200 text-gray-200 h-px">
                                </td>
                              </tr>
                              <tr>
                                <td class="font-lato">
                                  <a
                                    href="https://emailoctopus.com/"
                                    class="block py-3.5 px-6 text-sm text-center leading-none [text-decoration:none] text-gray-700 bg-red-200 hover:bg-red-300 font-medium">
                                    <!--[if mso]><i style="letter-spacing: 55px; mso-font-width: -100%; mso-text-raise: 26pt;">&nbsp;</i><![endif]-->
                                    <span style="mso-text-raise: 13pt;">SHOP NOW</span>
                                    <!--[if mso]><i style="letter-spacing: 56px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
                                  </a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <div class="leading-14">&zwnj;</div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- ======= Triple Column Blog Post End ======= -->

    <!-- ======= Spacer ======= -->
    <table class="w-full bg-beige">
      <tr>
        <td align="center">
          <table class="w-[700px] md:w-full">
            <tr>
              <td class="bg-white leading-7.5">&zwnj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- ======= Spacer End ======= -->

    <!-- ======= CTA Block Bottom ======= -->
    <table class="w-full bg-beige">
      <tr>
        <td align="center">
          <table class="w-[700px] md:w-full">
            <tr>
              <td class="bg-gray-800 bg-cta-wayfair bg-cover bg-center bg-no-repeat md:px-5 font-lato">
                <component
                  src="src/components/v-image.html"
                  width="700px"
                  height="270px"
                  image="https://i.imgur.com/qWWntHc.jpg"
                >
                  <div class="leading-12">&zwnj;</div>
                  <h2 class="m-0 text-3xl leading-10 font-normal text-center text-gray-50">BROWSE THE BEST OF AW16</h2>
                  <p class="m-0 text-lg leading-6.5 text-center text-gray-50">CLASSY, MODERN, ICONIC, DESIGN-LED.</p>
                  <div class="leading-7.5">&zwnj;</div>
                  <div class="text-center">
                    <a
                      href="https://emailoctopus.com/"
                      class="inline-block py-3.5 px-6 text-sm text-center leading-none [text-decoration:none] text-gray-700 bg-red-200 hover:bg-red-300 font-medium">
                      <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%; mso-text-raise: 26pt;">&nbsp;</i><![endif]-->
                      <span style="mso-text-raise: 13pt;">VIEW COLLECTION</span>
                      <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
                    </a>
                  </div>
                  <div class="leading-12">&zwnj;</div>
                </component>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- ======= CTA Block Bottom End ======= -->

    <!-- ======= Footer ======= -->
    <table class="w-full bg-beige">
      <tr>
        <td align="center">
          <table class="w-[700px] md:w-full">
            <tr>
              <td class="bg-brown text-center py-10 md:px-5">
                <p class="m-0 mb-4 text-xs leading-6 text-brown-light">
                  Email template by <a href="https://emailoctopus.com" class="text-brown-light [text-decoration:underline] hover:[text-decoration:none]">EmailOctopus</a> - email marketing for next to nothing.
                </p>
                <a href="https://emailoctopus.com" class="m-0 text-xs leading-6 text-white [text-decoration:none] hover:[text-decoration:underline]">Unsubscribe</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- ======= Footer End ======= -->
  </block>
</extends>
